.cnt-form{
  text-align: center;
}

#name.input_name {
  margin-top: 0.6em;
  margin-bottom: auto;
  line-height: 1.6em;
  vertical-align: middle;
}

.update_form_row {
  display: inline-block;
}

.new_trans{
  width: 50%;
  display: flex;
  flex-direction: row;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.add{
  margin-top: 18px;
  margin-bottom: auto;
}

.edit_tran{
  height: 2.2em;
}
