.flex_row{
  display: flex;
  flex-direction: row;
  background-color: skyblue;
  margin: 0px;
  border-bottom: 2px solid black;
}

ul{
  margin: 0px;
}

h1{
  color: white;
  margin: 0px;
  padding: 6px;
  text-decoration: none;

}

a{
  text-decoration: none;
}

nav h1:link {
    background-color: skyblue;
}

nav h1:visited {
    background-color: skyblue;
}

nav h1:hover {
    background-color: lightblue;
}

nav h3{
  color: white;
  margin-left: auto;
  margin-top: 5px;
  margin-bottom: 0px;
  padding: 6px;
  text-decoration: none;
}
