.head{
  background-color: skyblue;
  border-bottom: 2px solid;
}

th .head{
  border-bottom: 2px;
}

td{
  border-bottom: 1px solid;
  vertical-align: middle;
}

.index{
  width: 5%;
  text-align: center;
}

.name{
  width: 15%;
}

.img{
  width: 5%;
  text-align: center;
}

.img2{
  height: 90%;
  vertical-align: bottom;
}

.update{
  width: 35%
}


table{
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 60%;
}

.title{
  text-align: center;
  text-decoration: underline;
}
