<h2>Merchants</h2>

<br>
<br>
<form action="/merchants" method="post" class="cnt-form">
  <div>
    <label for="name">Add Merchant:</label>
    <input type="text" name="name" id="name"/>

    <input type="submit" value="Create" />
  </div>
</form>
<br>
<br>
<br>
<div>
  <table>
    <tr class="head">
      <th></th>
      <th>Name</th>
      <th></th>
      <th></th>
    </tr>
    <% x = 0 %>
    <% @merchants.each do |merchant| %>
    <tr>
      <div>
        <th class="index"><%= x += 1  %></th>
        <th class="name"><%= merchant.name  %> </th>
        <th class="img"><img src="/images/edit.png" class="icon"> </th>
        <th class="options"></th>
      </div>
    </tr>
    <% end %>
  </table>
</div>
