<h2>Merchants</h2>

<a href="/merchants/new">Add Merchant</a>

<div>
  <ol>
    <% @merchants.each do |merchant| %>

    <div>
      <li><%= merchant.name  %></li>
    </div>

    <hr/>

    <% end %>
  </ol>
</div>
