<h2 class="title">Merchants</h2>

<br>
<div class="NEW">
  <%= erb :"merchants/new"  %>
</div>
<br>
<br>
<table>
  <tr class="head">
    <th></th>
    <th>Name</th>
    <th></th>
    <th></th>
  </tr>
  <div class="SHOW_ALL">
    <%= erb :"merchants/show"  %>
  </div>
</table>
