<h2>Merchants</h2>

<br>
<br>
<div class="NEW">
  <%= erb :"merchants/new"  %>
</div>
<br>
<br>
<div>
<table>
  <tr class="head">
    <th></th>
    <th>Name</th>
    <th></th>
    <th></th>
  </tr>
  <div class="SHOW_ALL">
      <%= erb :"merchants/edit"  %>
  </div>
</table>
