<form action="/merchants" method="post" class="cnt-form">
    <label for="name">Add Merchant:</label>
    <input type="text" name="name" id="name"/>
    <input type="submit" value="Create" />
</form>
