<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CashBank - Your money tracker</title>
    <link rel="stylesheet" type="text/css" href="/style/images.css">
    <link rel="stylesheet" type="text/css" href="/style/tables.css">
    <link rel="stylesheet" type="text/css" href="/style/forms.css">
  </head>
  <body>
    <main class="flex flex--row">
      <nav>
        <ul>
          <li> <a href="/">Home</a></li>
        </ul>
        <ul>
          <li> <a href="/transactions">Transactions</a></li>
        </ul>
        <ul>
          <li> <a href="/merchants">Merchants</a></li>
        </ul>
        <ul>
          <li> <a href="/tags">Tags</a></li>
        </ul>
      </nav>
    </main>
    <section id="content">
      <%= yield  %>
    </section>
  </body>
</html>
