<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CashBank - Your money tracker</title>
    <link rel="stylesheet" type="text/css" href="/style/images.css">
    <link rel="stylesheet" type="text/css" href="/style/tables.css">
    <link rel="stylesheet" type="text/css" href="/style/forms.css">
    <link rel="stylesheet" type="text/css" href="/style/nav.css">
  </head>
  <body>
    <main>
      <nav class="flex_row">
        <ul><a href="/"><h1>Transactions</h1></a></ul>
        <ul><a href="/merchants"><h1>Merchants</h1></a></ul>
        <ul><a href="/tags"><h1>Tags</h1></a></ul>
        
      </nav>
      <ul class="balance"><h2>BALANCE: £ <%= Transaction.balance()  %></h2></ul>
    </main>
    <section id="content">
      <%= yield  %>
    </section>
  </body>
</html>
