<h2>Tags</h2>

<br>
<br>
<div class="NEW">
  <%= erb :"tags/new"  %>
</div>
<br>
<br>
<div>
<table>
  <tr class="head">
    <th></th>
    <th>Name</th>
    <th></th>
    <th></th>
  </tr>
<div class="SHOW_ALL">
    <%= erb :"tags/show"  %>
  </table>
</div>
