<h2 class="title">Transactions</h2>

<div class="NEW">
  <%= erb :"transactions/new"  %>
</div>

<br>
<br>
<table>
  <tr class="head">
    <th>Date</th>
    <th>Merchant</th>
    <th>Label</th>
    <th>Reference</th>
    <th>Amount</th>
    <th></th>
  </tr>

<div class="SHOW_ALL">
  <%= erb :"transactions/show"  %>
</div>
</table>
